.checkoutProduct {
    display: flex;
    margin-bottom: 10px;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 188px;
    height: 180px;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800px;
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_info>button {
    background-color: orange;
    border: 1px solid rgb(121, 81, 6);
    margin-top: 10px;
}