.header {
    background-color: rgb(1, 1, 37);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    filter: invert(1);
    object-fit: contain;
}

.header_search {
    display: flex;
    flex: 1;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    background-color: rgb(223, 150, 14);
    padding: 5px;
    height: 22px !important;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_link {
    color: white;
    text-decoration: none;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header_optionLineOne {
    font-size: 10px;
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    flex-direction: column;
}

.header_cartCount {
    margin-left: 10px;
    margin-right: 10px;
}