.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100px;
    padding: 20px;
    background-color: rgb(240, 230, 230);
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-top: -10px;
}

.subtotal_gift {
    display: flex;
    align-items: center;
}

.subtotal_gift>input {
    margin-right: 5px;
}

.subtotal>button {
    background-color: orange;
    border: 1px solid rgb(121, 81, 6);
    margin-top: 10px;
    display: block;
    width: 40%;
    border-radius: 5px;
}

.gift {
    display: flex;
    align-items: center;
    margin-top: 5px;
}